@model IEnumerable<APP.GP.Web.Model.CatalogoGrupo>

@{
    ViewData["Title"] = "Catálogo de Grupos";
}

<h1>Catálogo de Grupos</h1>
<div class="row">
    <div class="col-12" style="text-align:right;">
        <a asp-action="Create" class="btn btn-primary">Nuevo</a>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EstatusDescripcion)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdGrupo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EstatusDescripcion)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.IdGrupo }) |
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.IdGrupo })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>