@model APP.GP.Web.Model.Actor

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Actor</h4>
    <hr />
    <dd class="col-sm-10">
        <img src="data:image/jpeg;base64,@Model.FotoBase64" alt="Foto" style="width: 500px; height: 500px;" />
    </dd>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdActor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdActor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApellidoPaterno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApellidoPaterno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApellidoMaterno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApellidoMaterno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CargoActual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CargoActual)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DomicilioLaboral)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DomicilioLaboral)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DomicilioParticular)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DomicilioParticular)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefonoLaboral)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefonoLaboral)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefonoPersonal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefonoPersonal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CorreoElectronico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CorreoElectronico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RedesSociales)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RedesSociales)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaginaWeb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaginaWeb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Afinidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Afinidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Compromiso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Compromiso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comentarios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comentarios)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FotoBase64)
        </dt>
       
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
