@{
    ViewData["Title"] = "Tablero";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="example" style="margin:10px;">

    <div class="row">
        <center><h4 style="margin-top: 60px;">Tablero de actores</h4></center>
        <div class="row" id="categorias-container"></div>


    </div>

    <div id="windowInstitucional" style="border: 2px solid #8B0000; padding: 20px; background-color: #FFFFFF; display:none;">
        <div id="combosCategoria">
            <select id="comboBox" onchange="handleSelectChange(this)" class="form-control">
                <option value="" disabled selected>Selecciona una opción...</option>
            </select>
        </div>

        <div id="listView"></div>

        <script type="text/x-kendo-template" id="template">
            <div class="actor" onclick="verDetalleActor(#= idActor #, '#= cargoActual #')">
                # if (fotoBase64) { #
                    <img src="data:image/jpeg;base64,#= fotoBase64 #" alt="Foto de #= nombre # #= apellidoPaterno #" />
                # } else { #
                    <img src="https://via.placeholder.com/110" alt="Foto no disponible" />
                # } #
                <h2>#: cargoActual #</h2>
                <h3>#: nombre # #: apellidoPaterno # #: apellidoMaterno #</h3>
            </div>
        </script>

    </div>

    <div id="contactDetailWindow" style="display:none;">
        <div id="contactDetailContent" style="padding: 20px;">
            <div style="background-color: #8B0000; color: white; padding: 10px; text-align: center; font-weight: bold; margin-top: 10px;">
                NOMBRE
            </div>
            <table style="width: 100%; border-collapse: collapse; margin-top: 10px;">
                <tr>
                    <td style="width: 30%; border: 1px solid #8B0000; padding: 10px;">FOTO</td>
                    <td style="width: 70%; border: 1px solid #8B0000; padding: 10px;">
                        <center><img src="~/img/1.png" alt="Foto del contacto" style="width: 100px; height: 100px;"></center>
                    </td>
                </tr>
                <tr>
                    <td style="width: 30%; border: 1px solid #8B0000; padding: 10px;">CARGO ACTUAL</td>
                    <td style="width: 70%; border: 1px solid #8B0000; padding: 10px;">DIRECTOR GENERAL</td>
                </tr>
                <tr>
                    <td style="width: 30%; border: 1px solid #8B0000; padding: 10px;">FECHA DE NACIMIENTO</td>
                    <td style="width: 70%; border: 1px solid #8B0000; padding: 10px;">22 DE DICIEMBRE DE 1969</td>
                </tr>
                <tr>
                    <td style="width: 30%; border: 1px solid #8B0000; padding: 10px;">DOMICILIO LABORAL</td>
                    <td style="width: 70%; border: 1px solid #8B0000; padding: 10px;">AVENIDA 16 DE SEPTIEMBRE 59 LOS ALAMOS PUEBLA</td>
                </tr>
                <tr>
                    <td style="width: 30%; border: 1px solid #8B0000; padding: 10px;">DOMICILIO PARTICULAR</td>
                    <td style="width: 70%; border: 1px solid #8B0000; padding: 10px;">CALLE 5 DE FEBRERO EL ROSAL PUEBLA</td>
                </tr>
                <tr>
                    <td style="width: 30%; border: 1px solid #8B0000; padding: 10px;">TELÉFONO LABORAL</td>
                    <td style="width: 70%; border: 1px solid #8B0000; padding: 10px;">5541236548</td>
                </tr>
                <tr>
                    <td style="width: 30%; border: 1px solid #8B0000; padding: 10px;">TELÉFONO PERSONAL</td>
                    <td style="width: 70%; border: 1px solid #8B0000; padding: 10px;">4452120014</td>
                </tr>
                <tr>
                    <td style="width: 30%; border: 1px solid #8B0000; padding: 10px;">CORREO ELECTRÓNICO</td>
                    <td style="width: 70%; border: 1px solid #8B0000; padding: 10px;">serafin.herrera@solpuebla.com</td>
                </tr>
                <tr>
                    <td style="width: 30%; border: 1px solid #8B0000; padding: 10px;">REDES SOCIALES</td>
                    <td style="width: 70%; border: 1px solid #8B0000; padding: 10px;"></td>
                </tr>
                <tr>
                    <td style="width: 30%; border: 1px solid #8B0000; padding: 10px;">PÁGINA WEB</td>
                    <td style="width: 70%; border: 1px solid #8B0000; padding: 10px;"></td>
                </tr>
                <tr>
                    <td style="width: 30%; border: 1px solid #8B0000; padding: 10px;">AFINIDAD</td>
                    <td style="width: 70%; border: 1px solid #8B0000; padding: 10px;">AFIN AL GOBIERNO DE ALEJANDRO ARMENTA</td>
                </tr>
                <tr>
                    <td style="width: 30%; border: 1px solid #8B0000; padding: 10px;">COMPROMISO</td>
                    <td style="width: 70%; border: 1px solid #8B0000; padding: 10px;">{{Compromiso}}</td>
                </tr>
                <tr>
                    <td style="width: 30%; border: 1px solid #8B0000; padding: 10px;">ANEXOS</td>
                    <td style="width: 70%; border: 1px solid #8B0000; padding: 10px;">{{Anexos}}</td>
                </tr>
                <tr>
                    <td style="width: 30%; border: 1px solid #8B0000; padding: 10px;">COMENTARIOS</td>
                    <td style="width: 70%; border: 1px solid #8B0000; padding: 10px;">{{Comentarios}}</td>
                </tr>
            </table>

        </div>
    </div>

    <div class="responsive-message"></div>

    <div id="detalleActorModal"></div>
    <script>
        $(document).ready(function () {
            obtenerGrupos();
        });

        function obtenerGrupos() {
            $.ajax({
                url: '@Url.Action("ObtenerGrupos", "Home")',
                type: 'GET',
                dataType: 'json'
            }).done(function (data) {
                const $container = $('#categorias-container').empty();

                $('.subcategory-row').remove();
                $.each(data, function (index, item) {
                    const $colDiv = $('<div>').addClass(item.descripcion);
                    const $categoryDiv = $('<div>').addClass('category').text(item.nombre);
                    const $subCategoryRowDiv = $('<div>').addClass('subcategory-row');

                    $.each(item.subGrupoList, function (subIndex, subGrupo) {
                        const $subGroupDiv = $('<div>')
                            .addClass(subGrupo.descripcion)
                            .attr('data-id', subGrupo.id)
                            .append($('<div>').text(subGrupo.nombre));

                        $subCategoryRowDiv.append($subGroupDiv);
                    });

                    $colDiv.append($categoryDiv).append($subCategoryRowDiv);
                    $container.append($colDiv);
                });

                $container.on('click', '.subcategory', function () {
                    const idSubGrupo = $(this).data('id');
                    mostrarVentanaKendo("#windowInstitucional", "600px", "FICHA INSTITUCIONAL", idSubGrupo);
                });
            }).fail(function (xhr, status, error) {
                console.error('Error al obtener los grupos:', error);
            });
        }

        function mostrarVentanaKendo(selector, ancho, titulo, id) {
            var listView = $("#listView").data("kendoListView");
            if (listView) listView.dataSource.data([]);

            let selectElement = document.getElementById("comboBoxSubCategoria");

            if (selectElement) {
                selectElement.style.display = "none";
                selectElement.innerHTML = '<option value="" disabled selected>Selecciona una opción...</option>';
            }

            $.ajax({
                url: '@Url.Action("ObtenerCategoriaGrupoTablero", "Home")',
                type: 'GET',
                dataType: 'json',
                data: { idSubGrupo: id }
            }).done(function (data) {
                // Limpiar las opciones existentes
                const selectElement = document.getElementById("comboBox");
                selectElement.innerHTML = '<option value="" disabled selected>Selecciona una opción...</option>';

                // Agregar las nuevas opciones
                data.forEach(function (item) {
                    const option = document.createElement("option");
                    option.value = item.idCategoria;
                    option.text = item.descripcion;
                    selectElement.classList.add("form-control");
                    selectElement.appendChild(option);
                });

                // Mostrar la ventana modal
                var $kendoWindow = $(selector).kendoWindow({
                    width: ancho,
                    title: titulo,
                    visible: false,
                    modal: true,
                    actions: ["Close"],
                    activate: function () {
                        checkAndMaximizeWindow($kendoWindow);
                    }
                }).data("kendoWindow");

                $kendoWindow.center().open();
            }).fail(function (xhr, status, error) {
                console.error('Error al obtener los grupos:', error);
            });
        }

        function mostrarVentanaKendo2(selector, ancho, titulo, id) {

            var listView = $("#listView").data("kendoListView");

            if (listView) listView.dataSource.data([]);

            $.ajax({
                url: '@Url.Action("ObtenerCategoriaGrupoTablero", "Home")',
                type: 'GET',
                dataType: 'json',
                data: { idSubGrupo: id }
            }).done(function (data) {
                var $kendoWindow = $(selector).kendoWindow({
                    width: ancho,
                    title: titulo,
                    visible: false,
                    modal: true,
                    actions: ["Close"],
                    activate: function () {
                        checkAndMaximizeWindow($kendoWindow);
                    }
                }).data("kendoWindow");

                var $comboBox = $("#comboBox").data("kendoComboBox");

                if ($comboBox) {
                    $comboBox.dataSource.data([]);
                    $comboBox.value('');
                }

                $("#comboBox").kendoComboBox({
                    dataTextField: "descripcion",
                    dataValueField: "idCategoria",
                    dataSource: data,
                    placeholder: "Selecciona una opción...",
                    filter: "contains",
                    suggest: true,
                    autoBind: true,
                    change: function () {
                        var value = this.value();
                        if (value) {
                            obtenerActores(value, 1);
                            ObtenerSubCategoria(value);
                        }
                    }
                });

                $kendoWindow.center().open();
            }).fail(function (xhr, status, error) {
                console.error('Error al obtener los grupos:', error);
            });
        }

        function handleSelectChange(select) {
            const value = select.value;
            if (value) {                
                ObtenerSubCategoria(value);
                obtenerActores(value, 1);
            }
        }

        function ObtenerSubCategoria(id) {
            if (isNumber(id)) {
                $.ajax({
                    url: '@Url.Action("ObtenerSubCategoria", "Home")',
                    type: 'GET',
                    dataType: 'json',
                    data: { idCategoria: id },
                    success: function (data) {
                        let selectElement = document.getElementById("comboBoxSubCategoria");

                        if (!selectElement) {
                            selectElement = document.createElement("select");
                            selectElement.id = "comboBoxSubCategoria";
                            selectElement.classList.add("form-control");
                            selectElement.onchange = function () {
                                obtenerActores(this.value, 2);
                            };
                            document.getElementById("combosCategoria").appendChild(selectElement);
                        }
                        if (data.length > 0)
                            selectElement.style.display = "block";
                        else
                            selectElement.style.display = "none";
                        selectElement.innerHTML = '<option value="" disabled selected>Selecciona una opción...</option>';

                        data.forEach(function (item) {
                            const option = document.createElement("option");
                            option.value = item.idCategoria;
                            option.text = item.descripcion;
                            selectElement.appendChild(option);
                        });
                    },
                    error: function (xhr, status, error) {
                        console.error('Error al obtener las subcategorías:', error);
                    }
                });
            }
        }

        function obtenerActores(id, tipo) {
            if (isNumber(id)) {
                $.ajax({
                    url: '@Url.Action("GetActores", "Actor")',
                    type: 'GET',
                    data: { idSubCategoria: id, tipo: tipo },
                    dataType: 'json',
                    success: function (actors) {
                        var listView = $("#listView").data("kendoListView");
                        if (listView) {
                            listView.destroy();
                            $("#listView").empty();
                        }

                        $("#listView").kendoListView({
                            dataSource: {
                                data: actors,
                                pageSize: 9
                            },
                            template: kendo.template($("#template").html()),
                            pageable: true
                        });
                    }, error: function (xhr, status, error) {
                        console.error('Error al obtener los actores:', error);
                    }
                });
            }
        }

        function isNumber(n) {
            return !isNaN(parseFloat(n)) && isFinite(n);
        }

        function checkAndMaximizeWindow(kendoWindow) {
            var windowWidth = $(window).width();
            if (windowWidth < 576)
                kendoWindow.maximize();
            else
                kendoWindow.restore();
        }

        function verDetalleActor(actorId, cargoActual) {
            var detalleModal = $("#detalleActorModal").kendoWindow({
                title: cargoActual,
                modal: true,
                visible: false,
                width: "600px",
                height: "500px",
                actions: ["Close"]
            }).data("kendoWindow");

            $.ajax({
                url: '@Url.Action("GetActorDetalle", "Actor")',
                type: 'GET',
                data: { id: actorId },
                success: function (response) {
                    detalleModal.content(response);
                    detalleModal.center().open();
                },
                error: function (xhr, status, error) {
                    console.error('Error al obtener los detalles del actor:', error);
                }
            });
        }
    </script>

    <style>
        .menu {
            margin-bottom: 20px;
        }

        #example {
            min-height: 400px;
            margin-top: 100px;
        }

        #undo {
            text-align: center;
            position: absolute;
            white-space: nowrap;
            padding: 1em;
            cursor: pointer;
        }

        .category {
            background-color: #8B0000;
            color: white;
            text-align: center;
            padding: 5px;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .subcategory {
            background-color: #fff;
            color: #8B0000;
            text-align: center;
            padding: 5px;
            font-weight: 500;
            min-height: 75px;
            border: 1px solid #8B0000;
            margin: 0;
            word-wrap: break-word !important;
            overflow-wrap: break-word !important;
            white-space: normal !important;
            flex: 1 1 0;
            box-sizing: border-box;
            transition: background-color 0.2s ease, color 0.1s ease, border-color 0.2s ease, box-shadow 0.2s ease;
        }

            .subcategory:hover {
                block-size: 12pt;
                background-color: darkred;
                color: #FFF;
                border-color: #000;
                box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
            }



        .subcategory-row {
            display: flex;
            margin: 10px 0;
            flex-wrap: wrap;
        }


        #window {
            padding: 20px;
            box-sizing: border-box;
        }

            #window .category,
            #window .subcategory {
                margin: 10px 0;
            }

        #panelbar {
            max-width: 400px;
            margin: 0 auto;
        }

        .teamMate {
            display: flex;
            align-items: center;
            padding: 10px;
            transition: background-color 0.3s, transform 0.3s, color 0.3s, font-size 0.3s;
            cursor: pointer;
        }

            .teamMate:hover {
                background-color: #AAA; /* Cambia el color de fondo a un tono más oscuro al hacer hover */
                transform: scale(1.05); /* Aplica una ligera escala */
                color: #DDD; /* Opcional: cambia el color del texto para que contraste mejor */
            }

            .teamMate h2 {
                font-size: 1.4em;
                font-weight: normal;
                margin-bottom: 0px;
                transition: font-size 0.3s; /* Transición suave para el tamaño del texto */
            }

            .teamMate:hover h2 {
                font-size: 1.5em; /* Aumenta ligeramente el tamaño del texto en hover */
            }

            .teamMate p {
                margin: 0;
                transition: font-size 0.3s; /* Transición suave para el tamaño del texto */
            }

            .teamMate:hover p {
                font-size: 1.1em; /* Aumenta ligeramente el tamaño del texto en hover */
            }

            .teamMate img {
                display: inline-block;
                margin: 5px 15px 5px 5px;
                border: 1px solid #ccc;
                border-radius: 50%;
                width: 60px;
                height: 60px;
                transition: border-color 0.3s, box-shadow 0.3s;
            }

            .teamMate:hover img {
                border-color: #007bff; /* Cambia el color del borde de la imagen al hacer hover */
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Agrega una sombra a la imagen al hacer hover */
            }

            .teamMate .details label {
                font-weight: bold;
                display: block;
            }

            .teamMate .details p {
                font-size: 0.9em;
                color: #666;
                transition: font-size 0.3s; /* Transición suave para el tamaño del texto */
            }


        .details {
            display: inline-block;
            vertical-align: middle;
        }

        #contactDetailWindow {
            border: 2px solid #8B0000;
        }

            #contactDetailWindow table td {
                padding: 10px;
                border: 1px solid #8B0000;
                vertical-align: middle;
            }

            #contactDetailWindow img {
                border-radius: 5px;
            }

            #contactDetailWindow h2 {
                color: #8B0000;
                font-size: 18px;
                margin-bottom: 5px;
            }

            #contactDetailWindow p {
                color: #555;
                font-size: 14px;
            }

        #listView {
            padding: 10px 5px;
            margin-bottom: -1px;
            min-height: 510px;
        }

        .k-listview-content {
            overflow: hidden;
        }

        .actor {
            float: left;
            position: relative;
            width: 111px;
            height: 170px;
            margin: 0 5px;
            padding: 0;
            cursor: pointer;
            text-align: center;
        }

            .actor img {
                width: 110px;
                height: 110px;
            }

            .actor h2 {
                margin: 0;
                padding: 3px 5px 0 0;
                max-width: 110px;
                overflow: hidden;
                line-height: 1.1em;
                font-size: .8em;
                font-weight: normal;
                text-transform: uppercase;
                color: #222;
            }

            .actor h3 {
                margin: 0;
                padding: 3px 5px 0 0;
                max-width: 110px;
                overflow: hidden;
                line-height: 1.1em;
                font-size: .8em;
                font-weight: normal;
                text-transform: uppercase;
                color: #444;
            }

            .actor p {
                visibility: hidden;
            }

            .actor:hover h2 h3 {
                color: #000;
            }

        .k-listview:after {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }
    </style>
</div>